* {
    padding: 0;
    margin: 0;
}

.container {
    width: 53%;
    height: auto;
    background-color: #d5d2ae;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 25px;
}

.container img {
    width: 100px;
    height: 60px;
    display: inline-block;
    background-color: floralwhite;
}

#title {
    display: inline-block;
    padding-bottom: 10px;
}

#main_content {
    width: 690px;
    min-height: 500px;
    background-color: #d5d2ae;
    margin-left: 10px;
    padding-bottom: 10px;
}

.box1 {
    min-height: 150px;
    width: 130px;
    display: inline-block;
    background-color: #d5d2ae;
    padding-top: 10px;
}

#boxinterno1 {
    border: black solid;
    margin-top: 5px;
    background-color: #82b4ee;
    margin-right: 0px;
    padding-bottom: 5px;
}

.box1 img {
    width: 100px;
    height: 100px;
    background-color: #82b4ee;
    padding-top: 10px;
}

.box2 {
    min-height: 150px;
    width: 130px;
    display: inline-block;
    background-color: #d5d2ae;
    padding-top: 10px;
}

#boxinterno2 {
    border: black solid;
    margin-top: 5px;
    background-color: #f36870;
    padding-bottom: 5px;
}

.box2 img {
    width: 100px;
    height: 100px;
    background-color: #f36870;
    padding-top: 10px;
}