* {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 95%;
    height: auto;
    margin: 10px;
    background-color: #eaeaea;
    padding-bottom: 20px;
}

#parrafofinal {
    text-align: center;
}

.header {
    margin-left: 5px;
    background-color: #0d0d0d;
    color: white;
    padding: 10px;
}

.header a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.header p {
    display: inline-block;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.header img {
    display: inline-block;
    margin-left: 10px;
}

.header h2 {
    display: inline-block;
}

#home {
    margin-left: 300px;
}


/**/

.linea {
    height: 2px;
    margin-left: 3px;
    background-color: #dedede;
}

.main_niño {
    background-image: linear-gradient(to right, #eaeaea, #ffffff, #eaeaea);
}

.main {
    width: 480px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-right: 150px;
}

#niño {
    display: inline-block;
    padding: 15px;
    margin-left: 110px;
}

#boton {
    color: blanchedalmond;
    background: black;
    border: none;
    font-weight: bold;
    padding: 5px;
    margin-left: 75%;
}

.main h1 {
    margin-bottom: 20px;
}


/**/

.container2 {
    background-color: #eaeaea;
}

.derecha {
    display: inline-block;
    margin-top: 20px;
}

.linea2 {
    display: inline-block;
    height: 170px;
    background-color: #dedede;
    width: 1.5px;
}

.box {
    width: 250px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.box img {
    display: inline-block;
}

.box h2 {
    display: inline-block;
    margin-bottom: 10px;
    text-align: justify;
}

.izquierda {
    width: 392px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    background-color: white;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px;
}

.izquierda img {
    display: inline-block;
}

.izquierda p {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: justify;
}

.inferior {
    width: 750px;
    vertical-align: top;
    padding: 10px;
}


/**/

.footer {
    background-color: #0d0d0d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.footer h4 {
    padding-bottom: 15px;
}

.footer p {
    color: #7d7d7d;
}

.box1 {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.box2 {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.box2 a {
    text-decoration: none;
    margin-bottom: 10px;
    color: #7d7d7d;
}

.box2 li {
    margin-bottom: 10px;
    list-style: none;
}

.box3 {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.box3 input {
    margin-bottom: 10px;
    padding: 5px;
    width: 120px;
    background-color: #262626;
}

#phone {
    width: 258px;
}

.botonbox {
    width: 70px;
    border: black solid;
    padding: 5px;
    color: #6b6b6b;
    background-color: #151515;
}

.box3 p {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
}